/* https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

/* DAMN MARGINS */
body, p {
  margin: 0;
}

body {
  background: #283593;
  padding: 2.5%;
}

#game-container {
  background: #E8EAF6;
  padding: 1%;
  width: 100%;
  min-width: 768px;
  height: 432px;
}

#canvas {
  background: #FFFFFF;
  margin: 0 auto;
  display: block;
}