/* https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 2.5%;
  margin: 0;
  user-select: none;
}

button {
  border: none;
  outline: none;
}

#game-container {
  width: 720px;
  height: 432px;
  margin: auto;
}

#schema-wrapper {
  float: left;
  width: 38px;
  height: 432px;
  overflow: hidden;
  position: relative;
}
.scroll-arrow {
  width: 100%;
  height: 16px;
}
#arrow-up {
  margin-bottom: 1px;
  background: url('../res/arrow-up-release.png') no-repeat center;
}
#arrow-up:active { background: url('../res/arrow-up-press.png') no-repeat center; }
#arrow-down {
  margin-top: 1px;
  background: url('../res/arrow-down-release.png') no-repeat center;
}
#arrow-down:active { background: url('../res/arrow-down-press.png') no-repeat center; }

#schema {
  width: 200%;
  height: 396px;
  overflow: auto;
}
.color-block {
  width: 36px;
  height: 36px;
  margin: 1px;
}
.color-block.active { border: 1px solid black; }
#red { background: #F44336; }
#pink { background: #E91E63; }
#purple { background: #9C27B0; }
#deep-purple { background: #673AB7; }
#indigo { background: #3F51B5; }
#blue { background: #2196F3; }
#light-blue { background: #03A9F4; }
#cyan { background: #00BCD4; }
#teal { background: #009688; }
#green { background: #4CAF50; }
#light-green { background: #8BC34A; }
#lime { background: #CDDC39; }
#yellow { background: #FFEB3B; }
#amber { background: #FFC107; }
#orange { background: #FF9800; }
#deep-orange { background: #FF5722; }
#brown { background: #795548; }
#grey { background: #9E9E9E; }
#blue-grey { background: #607D8B; }
#white { background: #FFFFFF; border: 1px solid black; }
#black { background: #000000; }

#screen {
  float: right;
  width: 682px;
  height: 432px;
  padding: 1px;
}

#canvas {
  width: 680px;
  height: 428px;
  border: 1px solid black;
}