/* https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  background: #F9FBE7;
}

#game-container {
  width: 640px;
  height: 360px;

  position: absolute;
  top: 8%;
  left: 50%;
  margin-left: -320px;
}

#interface {
  position: absolute;
  top: 0;
  left: 0;
  width: 192px;
  height: 360px;
  background: white;
}

#canvas {
  position: absolute;
  top: 0;
  right: 0;
  background: #EFEBE9;
  margin: 0 auto;
  display: block;
}

#logs {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 448px;
  height: 108px;
  background: black;
}

/* DAMN MARGINS */
body, p {
  margin: 0;
}